{% extends "blogs/base.html" %}

{% block page_header %}
<h1>{{ blogpost.title }}</h1>
{% endblock page_header %}

{% block content %}
<div class="container">
	
	{% if user.is_authenticated %}
		<p>
			<a href="{% url 'blogs:new_blog' %}">Add a new post</a>
		</p>
	{% else %}
		<p>
			<a href="{% url 'users:login' %}">Login to add new post</a>
		</p>
	{% endif %}

		{% for blog in blogpost %}
		<h4>{{ blog.title }}</h4>
			<div class="card mb-3">
				<h4 class="card-header">
					{{ blog.date_added|date:'d / M / Y - H:i' }}

					<small>
						<a href="{% url 'blogs:edit_blogpost' blog.id %}">Edit Post</a>
					</small>
				</h4>
				<div class="card-body">
					{{ blog.text|linebreaks }}
				</div>
				<p class="card-header">
					Created by: {{ blog.owner }}
				</p>
			</div>
			{% empty %}
				<li><h3>No Blog posts have been added yet.</h3></li>
			{% endfor %}
</div>
{% endblock content %}