{% extends "blogs/base.html" %}

{% load bootstrap4 %}

{% block content %}

<div class="container">
	<h3>
		<a href="{% url 'blogs:blogposts' %}">Go back</a>
	</h3>
	<h2>Edit Blog</h2>
	<form action="{% url 'blogs:edit_blogpost' blog.id %}" method="post">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button name="submit" class="btn btn-primary">Submit</button>
		{% endbuttons %}
		<input type="hidden" name="next" value="{% url 'blogs:index' %}" />
	</form>
</div>

{% endblock content %}